<div class="profile-card">
  <h2>Employee Profile</h2>
  <table class="profile-table">
    <tr>
      <td><strong>Employee ID:</strong></td>
      <td>{{ employee.emp_id}}</td>
    </tr>
    <tr>
      <td><strong>Name:</strong></td>
      <td>{{ employee.emp_name }}</td>
    </tr>
    <tr>
      <td><strong>Phone Number:</strong></td>
      <td>{{ employee.mobile_number }}</td>
    </tr>
    <tr>
      <td><strong>Email:</strong></td>
      <td>{{ employee.email }}</td>
    </tr>
    <tr>
      <td><strong>Title:</strong></td>
      <td>{{ employee.role }}</td>
    </tr>
    <tr>
      <td><strong>Onboarding Date:</strong></td>
      <td>{{ employee.onboarding_date}}</td>
    </tr>
    <tr>
      <td><strong>Address:</strong></td>
      <td>{{ employee.address}}</td>
    </tr>
  </table>
</div>